@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.widgetCard {
  background-color: colors.$white-0;
  border: 1px solid colors.$gray-20;
  margin-bottom: 1rem;
  padding: layout.$spacing-05;
  width: 100%;
  max-width: 100%;
  position: relative;
}

.desktopHeading {
  text-align: left;
  text-transform: capitalize;

  h4 {
    @include type.type-style('heading-compact-02');
    color: colors.$gray-70;

    &:after {
      content: '';
      display: block;
      width: 2rem;
      padding-top: 3px;
      border-bottom: 0.375rem solid;
      @include brand-03(border-bottom-color);
    }
  }
}

.ageGroups {
  display: flex;
  flex-wrap: wrap;
  gap: layout.$spacing-03;
  margin-top: layout.$spacing-05;
}

.ageTile {
  @include type.type-style('body-compact-01');
  text-align: center;
  padding: layout.$spacing-03;
  border: 1px solid colors.$gray-30;
  cursor: pointer;
  flex: 1 1 120px;

  &.active {
    border-color: colors.$blue-60;
    background-color: colors.$blue-10;
  }

  &.current {
    border: 2px solid colors.$blue-50;
    background-color: colors.$blue-10;
  }

  &.neonatal {
    border-color: colors.$purple-30;
    border-left: 3px solid colors.$purple-60;
    flex: 1 1 100px;
  }

  &.groupCompleted {
    border-left: 3px solid colors.$green-50;
    background-color: colors.$green-10;
  }

  &.groupOverdue {
    border-left: 3px solid $danger;
  }
}

.groupStatus {
  @include type.type-style('caption-01');
  color: colors.$gray-60;
  margin-top: layout.$spacing-02;
}

.overdueIndicator {
  @include type.type-style('label-01');
  color: $danger;
  font-weight: 600;
  margin-top: layout.$spacing-01;
}

.checkups {
  margin-top: layout.$spacing-05;
}

.checkupsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: layout.$spacing-03;

  h5 {
    @include type.type-style('heading-compact-01');
    color: colors.$gray-70;
  }
}

.checkupItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: layout.$spacing-03 0;
  border-bottom: 1px solid colors.$gray-20;

  span {
    @include type.type-style('body-compact-01');
  }

  .dueDate {
    color: colors.$gray-50;
  }
}

.upcomingHeader {
  @include type.type-style('heading-compact-01');
  color: colors.$gray-70;
  margin-top: layout.$spacing-05;
  margin-bottom: layout.$spacing-03;
}

.error {
  color: colors.$red-60;
  @include type.type-style('body-compact-01');
}

// Checkups enhanced styles
.sectionTitle {
  @include type.type-style('heading-compact-01');
  color: colors.$gray-70;
  margin-bottom: layout.$spacing-03;
  margin-top: layout.$spacing-05;
}

.nextDueCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: layout.$spacing-04;
  background-color: colors.$blue-10;
  border: 1px solid colors.$blue-30;
  border-left: 3px solid colors.$blue-60;
  border-radius: 4px;
  margin-bottom: layout.$spacing-03;
}

.nextDueInfo {
  display: flex;
  flex-direction: column;
  gap: layout.$spacing-02;
}

.nextDueLabel {
  @include type.type-style('heading-compact-01');
  color: colors.$blue-70;
}

.nextDueDate {
  @include type.type-style('body-compact-01');
  color: $text-02;
}

.overdueList {
  display: flex;
  flex-direction: column;
  gap: layout.$spacing-02;
}

.overdueItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: layout.$spacing-03;
  background-color: colors.$red-10;
  border-left: 3px solid $danger;
  border-radius: 2px;
}

.overdueItemLabel {
  @include type.type-style('body-compact-01');
  color: colors.$red-70;
  font-weight: 600;
}

.overdueItemDate {
  @include type.type-style('caption-01');
  color: $text-02;
}

.generateSection {
  margin-top: layout.$spacing-05;
  padding-top: layout.$spacing-04;
  border-top: 1px solid colors.$gray-20;
}

.emptyState {
  @include type.type-style('body-compact-01');
  color: $text-02;
  font-style: italic;
  padding: layout.$spacing-04;
  text-align: center;
}
