@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.widgetCard {
  border: 1px solid $ui-03;
}

.container {
  padding: 0 layout.$spacing-05 layout.$spacing-05;
  display: flex;
  flex-direction: column;
  gap: layout.$spacing-03;
}

.helperText {
  @include type.type-style('helper-text-01');
  color: $text-02;
  margin: 0;
}
