@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.adverseReactionForm {
  padding: layout.$spacing-05;
  border: 1px solid colors.$gray-20;
  background-color: colors.$white-0;
  margin: layout.$spacing-03;

  .formTitle {
    @include type.type-style('heading-compact-02');
    color: colors.$gray-70;
    margin-bottom: layout.$spacing-03;
  }

  .formSubtitle {
    @include type.type-style('body-compact-01');
    color: colors.$gray-70;
    margin-bottom: layout.$spacing-04;
  }

  .formField {
    margin-bottom: layout.$spacing-05;
  }

  .errorNotification {
    margin-bottom: layout.$spacing-04;
  }

  .submitButton {
    margin-top: layout.$spacing-04;
  }
}