@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@carbon/colors';
@use '@carbon/layout';


@import '~@openmrs/esm-styleguide/src/vars';
@import '../root.scss';

.jsonTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0.5rem;

  td {
    border: 1px solid #e0e0e0;
    padding: 0.5rem;
    font-family: monospace;
  }
}

.payloadCell {
  text-align: center;
}

.payloadButton {
  background-color: colors.$white-0;
  border: 1px solid colors.$gray-20;
  margin-bottom: 1rem;
}

.payloadExpandedContent {
  padding: 1rem;
  background-color: #f4f4f4;
  border: 1px solid #e0e0e0;
  overflow-x: auto;
  max-width: 100%;
}



.header {
  @include type.type-style('body-compact-02');
  color: $text-02;
  height: spacing.$spacing-12;
  background-color: $ui-02;
  border: 1px solid $ui-03;
  border-left: 0px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.left-justified-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 0.75rem;
}

.right-justified-items {
  @include type.type-style('body-compact-02');
  color: $text-02;
  padding-top: 1rem;
}

.page-name {
  @include type.type-style('heading-04');
}

.page-labels {
  margin-left: 1rem;

  p:first-of-type {
    margin-bottom: 0.25rem;
  }
}

.date-and-location {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
}

.value {
  margin-left: 0.25rem;
}

.middot {
  margin: 0 0.5rem;
}

.view {
  @include type.type-style('label-01');
}

svg.iconOverrides {
  width: 72 !important;
  height: 72 !important;
  fill: var(--brand-03);
}

.svgContainer svg {
  width: 72px;
  height: 72px;
  fill: var(--brand-03);
}



.header {
  @include type.type-style('body-compact-02');
  color: $text-02;
  height: spacing.$spacing-12;
  background-color: $ui-02;
  border: 1px solid $ui-03;
  border-left: 0px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.left-justified-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 0.75rem;
}

.right-justified-items {
  @include type.type-style('body-compact-02');
  color: $text-02;
  padding-top: 1rem;
}

.page-name {
  @include type.type-style('heading-04');
}

.page-labels {
  margin-left: 1rem;

  p:first-of-type {
    margin-bottom: 0.25rem;
  }
}

.date-and-location {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
}

.value {
  margin-left: 0.25rem;
}

.middot {
  margin: 0 0.5rem;
}

.view {
  @include type.type-style('label-01');
}

svg.iconOverrides {
  width: 72 !important;
  height: 72 !important;
  fill: var(--brand-03);
}

.svgContainer svg {
  width: 72px;
  height: 72px;
  fill: var(--brand-03);
}
