@use '@carbon/layout';
@use '@carbon/type';

.container {
  padding: layout.$spacing-07;
}
.main{
  display: grid;
  grid-template-columns: 16rem 1fr;
}

.welcome {
  @include type.type-style('heading-04');
  margin: layout.$spacing-05 0;
}

.explainer {
  margin-bottom: layout.$spacing-07;
}
