@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';

.tileContainer {
  border: 0.5px solid var(--cds-border-subtle-01);
  border-left: 4px solid var(--cds-border-interactive);
  cursor: pointer;
  min-height: 8rem;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
  }
}

.tileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: spacing.$spacing-03;
}

.headerLabelText {
  @include type.type-style('heading-compact-01');
  color: var(--cds-text-secondary);
}

.totalsLabel {
  @include type.type-style('label-01');
  color: var(--cds-text-secondary);
  display: block;
  margin-bottom: spacing.$spacing-02;
}

.totalsValue {
  @include type.type-style('heading-05');
  color: var(--cds-text-primary);
  margin: 0;
}

.footerContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: spacing.$spacing-05;
}

.arrowIcon {
  fill: var(--cds-icon-primary);
}
