@use '@carbon/colors';
@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.widgetCard {
  border: 1px solid $ui-03;
}

.iconSuccess {
  fill: $support-02;
}

.iconPending {
  fill: $text-03;
}

.rowCompleted {
  background-color: colors.$green-10 !important;
}

.rowPending {
  background-color: colors.$yellow-10 !important;
}
