@use '@carbon/layout';

.card {
  border-left: 4px solid #8a3ffc;
  margin-bottom: layout.$spacing-04;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: layout.$spacing-04;

  h5 {
    margin: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: layout.$spacing-03;
}

.screeningRow {
  display: flex;
  align-items: center;
  gap: layout.$spacing-03;
}

.iconSuccess {
  fill: #198038;
}

.iconPending {
  fill: #a8a8a8;
}

.completed {
  font-size: 0.875rem;
}

.pending {
  font-size: 0.875rem;
  color: var(--cds-text-02);
}

.date {
  margin-left: auto;
  font-size: 0.75rem;
  color: var(--cds-text-02);
}

.noData {
  font-size: 0.875rem;
  color: var(--cds-text-02);
}

.error {
  color: #da1e28;
  font-size: 0.75rem;
  margin-top: layout.$spacing-03;
}
