@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';

.pageContainer {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.fullIframe {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  display: block;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: spacing.$spacing-05;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: spacing.$spacing-07;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;

  h3 {
    @include type.type-style('heading-03');
    color: #da1e28;
    margin-bottom: spacing.$spacing-05;
  }

  p {
    @include type.type-style('body-01');
    color: #525252;
    margin-bottom: spacing.$spacing-03;
  }

  details {
    margin-top: spacing.$spacing-05;
    text-align: left;
    width: 100%;
    background-color: #f4f4f4;
    padding: spacing.$spacing-05;
    border-radius: 4px;
    border-left: 3px solid #da1e28;

    summary {
      @include type.type-style('label-01');
      cursor: pointer;
      font-weight: 600;
      margin-bottom: spacing.$spacing-03;

      &:hover {
        color: #0f62fe;
      }
    }

    ul {
      margin-left: spacing.$spacing-05;
      margin-top: spacing.$spacing-03;

      li {
        @include type.type-style('body-compact-01');
        margin-bottom: spacing.$spacing-02;
      }
    }
  }
}
