@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@carbon/colors';
@use '@openmrs/esm-styleguide/src/vars' as *;

.header {
  @include type.type-style('body-compact-02');
  color: $text-02;
  height: spacing.$spacing-12;
  background-color: $ui-02;
  border: 1px solid $ui-03;
  border-left: 0px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.left-justified-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 0.75rem;
}

.right-justified-items {
  @include type.type-style('body-compact-02');
  color: $text-02;
  padding-top: 1rem;
}

.page-name {
  @include type.type-style('heading-04');
}

.page-labels {
  margin-left: 1rem;

  p:first-of-type {
    margin-bottom: 0.25rem;
  }
}

.date-and-location {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
}

.value {
  margin-left: 0.25rem;
}

.middot {
  margin: 0 0.5rem;
}

svg.iconOverrides {
  width: 72px !important;
  height: 72px !important;
  fill: var(--brand-03);
}

.svgContainer svg {
  width: 72px;
  height: 72px;
  fill: var(--brand-03);
}

@media (max-width: 672px) {
  .header {
    flex-direction: column;
    height: auto;
    padding: spacing.$spacing-03;
    gap: spacing.$spacing-03;
  }

  .left-justified-items {
    margin-left: 0;
    width: 100%;
  }

  .date-and-location {
    justify-content: flex-start;
    margin-right: 0;
    width: 100%;
  }

  .page-labels {
    margin-left: 0;
  }

  svg.iconOverrides,
  .svgContainer svg {
    width: 48px !important;
    height: 48px !important;
  }
}
