@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@carbon/colors';

.tableContainer {
  background-color: var(--cds-layer-01);
  padding: 0;
  margin: spacing.$spacing-05;
}

.toolbarContent {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toolbarItem {
  display: flex;
  align-items: center;
}

.table {
  width: 100%;
}

.tableHeader {
  @include type.type-style('heading-compact-01');
  color: var(--cds-text-primary);
}

.tableCell {
  @include type.type-style('body-compact-01');
  color: var(--cds-text-primary);
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: spacing.$spacing-07;
  background-color: var(--cds-layer-01);
  margin: spacing.$spacing-05;
}

.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: spacing.$spacing-07;
  background-color: var(--cds-support-error);
  color: var(--cds-text-on-color);
  margin: spacing.$spacing-05;
  border-radius: 4px;
}

.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: spacing.$spacing-09;
  background-color: var(--cds-layer-01);
  margin: spacing.$spacing-05;
  text-align: center;
}

.emptyStateContent {
  @include type.type-style('heading-03');
  color: var(--cds-text-primary);
  margin-bottom: spacing.$spacing-03;
}

.emptyStateHelper {
  @include type.type-style('body-compact-01');
  color: var(--cds-text-secondary);
}

.pagination {
  border-top: 1px solid var(--cds-border-subtle-01);
  background-color: var(--cds-layer-01);
}
