@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;

.appointmentList {
  margin: layout.$spacing-05;

  & > div {
    background-color: $ui-02;
  }
}

.tabs {
  grid-column: span 2;
}

.tab {
  min-width: 12rem;

  &:active,
  &:focus {
    outline: 2px solid var(--brand-03) !important;
  }

  &[aria-selected='true'] {
    box-shadow: inset 0 2px 0 0 var(--brand-03) !important;
  }
}

.tabPanel {
  padding: 0;
  margin: layout.$spacing-05;
}
