@use '@carbon/layout';
@use '@carbon/type';
@use '@openmrs/esm-styleguide/src/vars' as *;

.widgetCard {
  border: 1px solid $ui-03;
}

.container {
  padding: 0 layout.$spacing-05 layout.$spacing-05;
}

.label {
  color: $text-02;
}

.value {
  font-weight: 600;
  text-align: right;
}

.anemic {
  color: $danger;
}

.normalValue {
  color: $support-02;
}

.noData {
  color: $text-02;
  font-style: italic;
}
